{{ template "header" }}
    <main class="px-5">

        <h1 class="text-body">Time to wrap up!</h1>
        
        <p>Thanks for taking the time to learn about go-links. This technology is used by thousands of Google employees every day and from what I heard it has been implemented locally by many other companies. Hope you enjoyed it.</p>
        
        <strong>Implementation</strong>
        <p>I have implemented volfee.links in Go using http/net package and BoltBD database. You can see the implementation on my github repository.</p>
        
        <strong>Are volfee-links persistent?</strong>
        <p>Sadly no. I am running a script daily that cleans up the database to prevent it from overfilling and keep it free from malicious content like Illegal File Sharing or Malware. If you are interested in implementing go links for your organization, please have a look at my github repository to see how I decided to implement it.</p>

    </main>
{{ template "footer" }} 