{{ template "header" }}
    <main class="px-5">

        <h1 class="text-body">Welcome to Volfee-links.</h1>
        <p>This quick tutorial will walk you through using Volfee-links to optimize your work.</p>

        <p>Volfee-links is an URL shortening tool, clone of a tool called go-links, that is extensively used by Google employees. Idea is very similar to browser bookmarks, but instead of being local to your browser it is shared across the organization.</p>

        <p>With Volfee-links you can create patterns that serve as an easy to memorize aliases for complicated URLs. For example the next part of this tutorial is located under <strong>volfee.link/quite-hard-to-memorize-pattern-here-not-gonna-lie</strong>, but I have created a volfee-link for it <strong>volfee.link/next-part</strong>. Try typing this into the browser’s URL bar and see that it will take you to volfee-links.com/quite-hard-to-memorize-pattern-here-not-gonna-lie</p>

        <p>See you on the other site.</p>
    </main>
{{ template "footer" }} 