{{ template "header" }}

    <main class="px-5">

        <h1 class="text-body">Creating Go links.</h1>
        
        <p>Go-links are extremely simple to create. Only thing that you need to do is to type volfee.links/ followed by whatever pattern you want (ie. volfee.links/your-pattern). If this pattern is not used, you will be taken to the page where you can connect this link with the URL of your choice and the go link is then created and accessible by anyone.</p>
        
        <p>But, before you do that! The wrap-up for this tutorial is at volfee.links/finish (See? So easy to memorize!). Please head there when you are done with creating new links.</p>
        
        <p>Now, go play with creating a new go-link of yours!</p>

    </main>
{{ template "footer" }} 