{{ template "header" }}

    <main class="px-5">

        <h1 class="text-body">You made it safely!</h1>
        <p>But now you may be asking yourself - well I didn’t really need to use a go-link there. Instead I could have just copy pasted the link from the text and that would be even faster than typing. That’s true, but let’s consider another scenario.</p>
        
        <p>Let’s say that you cannot ever remember how to undo the commit in Git. You might have googled this a couple of times already and it would be nice to save the page that contains a correct solution if you need it again. </p>
        
        <p>This is where the go-links are handy. You can create a simple to memorize pattern like volfee.link/git-undo and relate it to https://stackoverflow.com/questions/927358/how-do-i-undo-the-most-recent-local-commits-in-git. That way whenever you find a typo in code seconds after making the commit, you may quickly type volfee.link/git-undo and immediately get the solution on how to fix the problem.</p>

        <p>But this gets even better than that. Given that go-links are not local to your machine, but are shared within your organization (or like volfee-links globally). Whenever your colleague commits too early you may tell him to check out git-undo go-link and they as well will be able to access the same stack overflow thread. Go-links are really powerful for easily shareable aliases for web resources like documents, slide decks, tools and project pages that may not be easily accessible due to long URLs.</p>

        <p>If you type volfee.link/register into your browser, I will show you how easy it is to create a new go-link.</p>

    </main>
{{ template "footer" }} 